$outerpadding: .625em;

.content-wrapper {
  @include outer-container;
  padding: $outerpadding;
}

section.person {
  // background-color: papayawhip;
  
  .map {
    background-color: lightsteelblue;
    height: 100px;
    width: 100px;
  }

  img {
    width: 100vw;
    margin-left: (-$outerpadding);
  }

}
