$outerpadding: .75em;
$personpadding: 1em;
$borderwidth: 2px;
$totalpadding: $outerpadding + $personpadding + em($borderwidth);

@mixin box-styles($color) {
    background-color: transparentize($color, .97);
    border: $borderwidth solid $color;
    border-top: 10px solid $color;
}

.content-wrapper {
  @include outer-container;
  padding: $outerpadding;
}

.yellow-bar {
  background-color: #ffc200;
  height: 4px;
}

section.person {

  @include media($desktop) {
    @include shift(1);
    @include span-columns(10 of 12);
      .prose {
        @include shift(1);
        @include span-columns(10 of 12);
      }
  }

  &:nth-of-type(1) { @include box-styles($story-red); }
  &:nth-of-type(2) { @include box-styles($story-purple); }
  &:nth-of-type(3) { @include box-styles($story-blue); }
  &:nth-of-type(4) { @include box-styles($story-green); }
  &:nth-of-type(5) { @include box-styles($story-orange); }
  &:nth-of-type(6) { @include box-styles($story-slate); }

  clear: both;
  margin-top: 3em;
  padding: $personpadding;

  header {
    margin-bottom: .75em;
    float: left;
    width: calc(100% - 80px);
  }

  .map {
    float: right;
    margin-top: .35em;

    img {
      float: right;
      height: 60px;
      width: 60px;
    }
  }
}

.prose { }

.intro {
  font-size: 1em;
  @include span-columns(8 of 12);
  @include shift(2);
}

figure {
  clear: both;
  margin-left: (-$totalpadding);
  width: 100vw;

  @include media($desktop) {
    width: calc(100% + 100px);
    margin-left: -50px;
  }

  figcaption {
    padding-left: $totalpadding;

    @include media($desktop) {
      padding-left: 0;
    }
  }

  img {
    width: 100%;
  }
}
