$outerpadding: .75em;
$personpadding: 1em;
$borderwidth: 1px;
$totalpadding: $outerpadding + $personpadding + em($borderwidth);

$topmargin: 450px;


@mixin box-styles($color) {
  background-color: transparentize($color, .97);
  border: $borderwidth solid $color;
  border-top: 10px solid $color;
}

div.banner-border {
  @include media($desktop) {
    border-bottom: 1px solid #008890;
    border-collapse: separate;
    border-spacing: 0;
  }

  margin-bottom: 1em;
}

div.banner {
  height: 300px;
  margin-bottom: 0;

  @include media($desktop) {
    height: 575px;
  }
}


.content-wrapper {
  @include outer-container;
  padding: $outerpadding;

  @include media($desktop) {
    margin-top: -450px;
    z-index: 10;
    position: relative;
  }
}


header.title {
  text-align: center;

  h1 {
    margin-top: 0;
  }

  @include media($desktop) {
    @include shift(1);
    @include span-columns(4);
    text-align: left;
    margin-right: 0;
    margin-top: 175px;
  }

  @include media($titlemargin) {
    margin-top: 125px;
  }
}

.intro {
  background-color: #FFF !important;
  font-size: 1em;
  padding: $personpadding;
  padding-top: 0;

  @include media($desktop) {
    @include span-columns(6);
    @include shift(1);
    border-top: 5px solid #008890 !important;
    // border-top: 10px solid #000 !important;
    // http://css-tricks.com/examples/GradientBorder/
    // background-image: -webkit-gradient(linear, #000 0%, #000 100%);
    // background-image: -webkit-linear-gradient(#000 0%, #000 100%);
    // background-image:
    //     linear-gradient(#000 0%, #000 100%),
    //     linear-gradient(#000 0%, #000 100%);
    // background-size: 1px 412px;
    // background-position: 0 0, 100% 0;
    // background-repeat: no-repeat;
  }
}


section.person {

  @include media($desktop) {
    @include shift(1);
    @include span-columns(10 of 12);

    .prose {
      @include shift(1);
      @include span-columns(10 of 12);
    }
  }

  // &:nth-of-type(1) { @include box-styles($story-red); }
  // &:nth-of-type(2) { @include box-styles($story-purple); }
  // &:nth-of-type(3) { @include box-styles($story-blue); }
  // &:nth-of-type(4) { @include box-styles($story-green); }
  // &:nth-of-type(5) { @include box-styles($story-orange); }
  // &:nth-of-type(6) { @include box-styles($story-slate); }

  @include box-styles(#008890);

  clear: both;
  margin-top: 3em;
  padding: $personpadding;

  @include media($desktop) {
    padding-bottom: 3em;
  }

  header {
    padding-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    float: left;
    width: calc(100% - 100px);
  }

  .map {
    float: left;
    margin-top: .35em;

    img {
      float: left;
      height: 70px;
      width: 70px;
    }
  }
}

.prose { }
.disclosure {
  border-top: 1px solid #fcc10f;
  margin-top: 3em;
  padding-top: 1em;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  @include media($desktop) {
    @include shift(1);
    @include span-columns(10 of 12);
  }
}

figure {
  clear: both;
  margin-left: (-$totalpadding);
  margin-right: 0;
  position: relative;
  width: 100vw;

  @include media($desktop) {
    width: calc(100% + 100px);
    margin-left: -50px;
  }

  figcaption {
    position: absolute;
    padding: 0.5em 1em;
    margin-top: -1px;
    color: #fff;
    background-color: transparentize(#000, 0.5);
    bottom: 0.5px;
    right: 0;

    @include media($desktop) {
      text-align: right;
    }
  }

  img {
    width: 100%;
  }
}
