$desktop: new-breakpoint(min-width 825px 12);
$mobile: new-breakpoint(max-width 480px);
$titlemargin: new-breakpoint(min-width 825px max-width 952px);

$grand-header-image-url: '/images/banner_image.jpg';

//trib colors
$tribune-yellow: rgb(255, 194, 0);
$lt-yellow: rgb(254, 245, 206); //selected hospital box
$bodytext-black: rgb(40, 40, 40);
$masthead-black: rgb(17, 17, 17);
$teal: rgb(0, 137, 144); //href color
$lavender: rgb(231, 222, 238);
$red: rgb(216, 0, 12);
$white: rgb(255, 255, 255);

// shades of gray
$lt-gray: rgb(207, 204, 199);
$dk-gray: rgb(102, 102, 102);
$glossary-gray: rgb(245, 245, 245); //background color
$bbb: rgb(187, 187, 187);
$eee: rgb(238, 238, 238);

//colors (from salaries)
$story-red: #ff6249;
$story-purple: #9772c5;
$story-blue: #4aa1cc;
$story-green: #8dc967;
$story-orange: #ffa849;
$story-slate: #717f8f;
$story-lightteal: #90d3c8;
