@import 'bourbon/dist/bourbon';
@import 'neat/app/assets/stylesheets/neat';

@import 'newsapps-styles/initialize';
@import 'newsapps-styles/theme/theme';

@import '_settings';
@import '_fonts';
@import '_typography';
@import '_layout';

@import 'newsapps-styles/layout/masthead';
@import 'newsapps-styles/layout/banner';
@import 'newsapps-styles/layout/footers/basic';

.row {
  @include row();
}

.share-row {
  @include media($desktop) {
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
  }

  a {
    color: rgb(119, 119, 119);

    &:hover {
      color: rgb(17, 17, 17);
      text-decoration: none;
    }
  }
}

.share-cell {
  border-bottom: 1px solid rgb(204, 204, 204);
  font-size: .8em;
  padding: .75em 0;
  text-align: center;

  @include media($desktop) {
    border-bottom: 0;
    border-left: 1px solid rgb(204, 204, 204);
  }

  &.first-share {
    border-top: 1px solid rgb(204, 204, 204);

    @include media($desktop) {
      border-top: 0;
      border-left: 0;
    }
  }

  i {
    padding: 0;
  }

  @include media($desktop) {
    float: left;
    width: 50%;
  }
}

.nav-bar {
  @include fill-parent;
  clear: both;
  @include span-columns(12 of 12);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding-bottom: 2em;
  margin-bottom: 2em;
  font: 500 .8em Helvetica;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-align: center;


  ul {
    display: block;
    list-style-type: none;
    margin: 0;
    width: 100%;

    li {
      @include span-columns(4);
      @include omega(3n);
      margin-top: 1em !important;

      &:active,
      &:hover {
        &:nth-of-type(1) { background-color: $story-red; }
        &:nth-of-type(2) { background-color: $story-purple; }
        &:nth-of-type(3) { background-color: $story-blue; }
        &:nth-of-type(4) { background-color: $story-green; }
        &:nth-of-type(5) { background-color: $story-orange; }
        &:nth-of-type(6) { background-color: $story-slate; }
      }

      img {
        display: block;
        max-width: 100%;
        width: 100%;
        margin-top:0;
      }

    }

    .nav-link {
      color: #000;
      font-weight: bold;
      width: 100%;
      margin: .75em 0;
    }
  }

  a {
    text-decoration: none;
  }
}

