@import 'bourbon/dist/bourbon';
@import 'neat/app/assets/stylesheets/neat';

@import 'newsapps-styles/initialize';
@import 'newsapps-styles/theme/theme';

@import '_settings';
@import '_fonts';
@import '_typography';
@import '_layout';

@import 'newsapps-styles/layout/masthead';
@import 'newsapps-styles/layout/banner';
@import 'newsapps-styles/layout/footers/basic';

.row {
  @include row();
}

.share-row {
  @include media($desktop) {
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
  }

  a {
    color: rgb(119, 119, 119);

    &:hover {
      color: rgb(17, 17, 17);
      text-decoration: none;
    }
  }
}

.share-cell {
  border-bottom: 1px solid rgb(204, 204, 204);
  font-size: .8em;
  padding: .75em 0;
  text-align: center;

  @include media($desktop) {
    border-bottom: 0;
    border-left: 1px solid rgb(204, 204, 204);
  }

  &.first-share {
    border-top: 1px solid rgb(204, 204, 204);

    @include media($desktop) {
      border-top: 0;
      border-left: 0;
    }
  }

  i {
    padding: 0;
  }

  @include media($desktop) {
    float: left;
    width: 50%;
  }
}

.nav-bar {
  color: $white;
  background: $white;
  font: 500 0.8em Helvetica;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-align: center;
  position: static;
  .selected {
    background: #4aa1cc;
  }
  ul {
    display: block;
    list-style-type: none;
    margin: 0;
    width: 100%;
    max-width: 1088px;
    li {
      @include span-columns(4);
      @include omega(3n);
      background: #4aa1cc;
      margin-top: 0.25em;
      &:active {
        background: #4aa1cc;
      }
      &:hover {
        background: #4aa1cc;
      }
      img {
        display: block;
        max-width: 100%;
        width: 100%;
        margin-top:0;
      }
      @include media($desktop) {
        background: $white;
        margin-top: 0;
      }
    }
    .nav-link {
      color: #4aa1cc;
      font-weight: bold;
      width: 100%;
      margin: 0.75em 0;
    }
    @include media($desktop) {
      background: $white;
    }
  }
  a {
    text-decoration: none;
    text-shadow: none;
  }
}

