@import 'bourbon/dist/bourbon';
@import 'neat/app/assets/stylesheets/neat';

@import 'newsapps-styles/initialize';
@import 'newsapps-styles/theme/theme';

@import '_settings';
@import '_fonts';
@import '_typography';
@import '_layout';

@import 'newsapps-styles/layout/masthead';
@import 'newsapps-styles/layout/banner';
@import 'newsapps-styles/layout/footers/basic';

.row {
  @include row();
}


.share-row {
  width: 100%;
  @include media($desktop) {
    border: 1px solid rgb(204, 204, 204);
  }

  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  font-size: .9em;
  margin-bottom: 2em;
  text-align: center;

  div {
    margin-bottom: .5em;
    margin-top: .5em;
  }

  a {
    float: left;
    width: 50%;
    color: rgb(119, 119, 119);
    background-color: transparentize(#fff, 0.35);
    margin: 0;

    &:first-of-type {
      border-right: 1px solid rgb(204, 204, 204);
    }

    &:hover {
      color: rgb(17, 17, 17);
      background-color: transparentize(#fff, 0.2);
      text-decoration: none;
    }
  }
}


.nav-bar {
  @include fill-parent;
  clear: both;
  @include span-columns(12 of 12);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding-bottom: 2em;
  margin-bottom: 2em;
  font: 500 .8em Helvetica;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-align: center;


  ul {
    display: block;
    list-style-type: none;
    margin: 0;
    width: 100%;

    li {
      @include span-columns(4);
      @include omega(3n);
      margin-top: 1em !important;

      &:active,
      &:hover {
        &:nth-of-type(1) { background-color: $story-red; }
        &:nth-of-type(2) { background-color: $story-purple; }
        &:nth-of-type(3) { background-color: $story-blue; }
        &:nth-of-type(4) { background-color: $story-green; }
        &:nth-of-type(5) { background-color: $story-orange; }
        &:nth-of-type(6) { background-color: $story-slate; }
      }

      img {
        display: block;
        max-width: 100%;
        width: 100%;
        margin-top:0;
      }

    }

    .nav-link {
      color: #000;
      font-weight: bold;
      width: 100%;
      margin: .75em 0;
    }
  }

  a {
    text-decoration: none;
  }
}

