{% extends 'app/templates/base.html' %}

{% block content %}

<div class="prose">
	<p>This is an introduction to the story lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio harum inventore maxime voluptatibus culpa aliquam incidunt? Deleniti veniam commodi quo doloremque aperiam consequuntur nam, dignissimos, maiores, sapiente doloribus error iure.</p>
</div>

<section class="person">
	<div class="section-header">
		<h3>Rick Perry</h3>
	</div>	
	<div class="sub-section-header">
		<h4 class="graf-header">Governor of Texas</h4>
	</div>	
	<div class="map"></div>
	<img src="http://static01.nyt.com/images/2014/08/08/us/08ttMILLER/08ttMILLER-master675.jpg" alt="">
	<div class="prose">
		<p>James Richard "Rick" Perry (born March 4, 1950) is an American politician who is the 47th and current governor of Texas. A Republican, he was elected lieutenant governor of Texas in 1998 and assumed the governorship in December 2000 when then-governor George W. Bush resigned to become president of the United States. Perry is the longest serving governor in Texas state history. As a result, he is the only governor in modern Texas history to have appointed at least one person to every eligible state office, board, or commission position (as well as to several elected offices to which the governor can appoint someone to fill an unexpired term, such as six of the nine current members of the Texas Supreme Court).</p>
		<p>Perry was elected to full gubernatorial terms in 2002, 2006 and 2010 and is the fourth Texas governor (after Allan Shivers, Price Daniel, and John Connally) to serve three terms. With a tenure in office to date of 13 years, 230 days, Perry is the second longest serving current U.S. governor – after Terry Branstad of Iowa. Perry served as chairman of the Republican Governors Association in 2008 (succeeding Sonny Perdue of Georgia) and again in 2011.[2]</p>
		<p>Perry won the Texas 2010 Republican gubernatorial primary election, defeating U.S. Senator Kay Bailey Hutchison and former Wharton County Republican Party Chairwoman and businesswoman Debra Medina.[3] In the 2010 Texas gubernatorial election, Perry won a third term by defeating former Houston mayor Bill White and Kathie Glass.[4]</p>
	</div>
</section>


{% endblock %}
