{% extends 'app/templates/base.html' %}

{% block content %}

<div class="content-block">
  <div class="share-row row">
    <a target="_blank" title="share on Twitter" href="//twitter.com/share?text=SOON">
      <div class="share-cell first-share"><i class="fa fa-twitter"></i> Tweet</div>
    </a>
    <a target="_blank" title="share on Facebook" href="//www.facebook.com/sharer.php?u=http://texastribune.org/">
      <div class="share-cell"><i class="fa fa-facebook"></i> Recommend</div>
    </a>
  </div>
</div>

<div class="prose">
  <p>This is an introduction to the story lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio harum inventore maxime voluptatibus culpa aliquam incidunt? Deleniti veniam commodi quo doloremque aperiam consequuntur nam, dignissimos, maiores, sapiente doloribus error iure.</p>
</div>

<section class="person">
  <header>
    <div class="section-header">
      <h3>Rick Perry</h3>
    </div>
    <div class="sub-section-header">
      <h4 class="graf-header">Houston</h4>
    </div>
  </header>
  <div class="map">
    <img src="/images/maps/houston.svg" alt="">
  </div>
  <figure>
    <img src="http://static01.nyt.com/images/2014/08/08/us/08ttMILLER/08ttMILLER-master675.jpg" alt="">
    <figcaption class="caption">And this is a pitcure of Rick Perry</figcaption>
  </figure>
  <div class="prose">
    <p>James Richard "Rick" Perry (born March 4, 1950) is an American politician who is the 47th and current governor of Texas. A Republican, he was elected lieutenant governor of Texas in 1998 and assumed the governorship in December 2000 when then-governor George W. Bush resigned to become president of the United States. Perry is the longest serving governor in Texas state history. As a result, he is the only governor in modern Texas history to have appointed at least one person to every eligible state office, board, or commission position (as well as to several elected offices to which the governor can appoint someone to fill an unexpired term, such as six of the nine current members of the Texas Supreme Court).</p>
    <p>Perry was elected to full gubernatorial terms in 2002, 2006 and 2010 and is the fourth Texas governor (after Allan Shivers, Price Daniel, and John Connally) to serve three terms. With a tenure in office to date of 13 years, 230 days, Perry is the second longest serving current U.S. governor – after Terry Branstad of Iowa. Perry served as chairman of the Republican Governors Association in 2008 (succeeding Sonny Perdue of Georgia) and again in 2011.[2]</p>
    <p>Perry won the Texas 2010 Republican gubernatorial primary election, defeating U.S. Senator Kay Bailey Hutchison and former Wharton County Republican Party Chairwoman and businesswoman Debra Medina.[3] In the 2010 Texas gubernatorial election, Perry won a third term by defeating former Houston mayor Bill White and Kathie Glass.[4]</p>
  </div>
</section>
<section class="person">
  <header>
    <div class="section-header">
      <h3>Greg Abbott</h3>
    </div>
    <div class="sub-section-header">
      <h4 class="graf-header">Austin</h4>
    </div>
  </header>
  <div class="map">
    <img src="/images/maps/austin.svg" alt="">
  </div>
  <figure>
    <img src="http://i.huffpost.com/gen/1740390/thumbs/o-GREG-ABBOTT-facebook.jpg" alt="">
    <figcaption class="caption">This is a picture of Abbott</figcaption>
  </figure>
  <div class="prose">
    <p>Abbott was born on November 13, 1957 in Wichita Falls, Texas and was reared in Duncanville in Dallas County. He graduated from Duncanville High School.[3]</p>
    <p>In 1981, he earned a Bachelor of Business Administration in finance from the University of Texas at Austin, where he was a member of the Delta Tau Delta fraternity. In 1984, he earned his law degree from the Vanderbilt University Law School in Nashville, Tennessee.</p>
    <p>He went into private practice, working for Butler and Binion, LLC between 1984 and 1992. Abbott’s political career began in Houston, where he served as a state trial judge in the 129th District Court for three years.</p>
    <p>Abbott became a paraplegic when an oak tree fell on him while he was running following a storm in 1984.[4][5] He had two steel rods implanted in his spine, underwent extensive rehabilitation at TIRR Memorial Hermann in Houston, and has used a wheelchair ever since.[6][7] He sued the homeowner and won an insurance settlement worth more than $10 million.[8] Abbott later championed laws capping punitive damages like those for which he was eligible in his own suit to two times the amount of economic damages awarded plus $750,000.[9] While the current law caps punitive damages, which are meant to punish gross negligence or bad faith, the law still allows payments for medical costs, potential lost wages, economic damages and noneconomic losses, such as pain and suffering and loss of enjoyment of life. Matt Hirsch, a spokesman for the Abbott campaign, said the attorney general did not seek punitive damages in his lawsuit.[10]</p>
    <p>Then-Texas Governor George W. Bush appointed Abbott to the Texas Supreme Court, and he was then twice elected to the state's highest civil court—in 1996 (two-year term) and 1998 (six-year term). In 1996, Abbott had no Democratic opponent but was challenged by Libertarian John B. Hawley of Dallas. Abbott defeated Hawley 84%-16%.[11] In 1998, Abbott defeated Democrat David Van Os 60%-40%.[12]</p>
    <p>In 2001, he went back to private practice and worked for Bracewell & Giuliani, LLC.[1] He was also an adjunct professor at University of Texas School of Law.[13]</p>
  </div>
</section>



{% endblock %}
