{% extends 'app/templates/base.html' %}

{% block content %}

<header>
  <h1>Welcome to the News Apps Template!</h1>
</header>

<section class="person">
	<div class="section-header">
		<h3>Lorem Ipsum</h3>
	</div>	
	<div class="map"></div>
	<img src="http://placehold.it/600x300" alt="">
	<div class="prose">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed architecto, laboriosam illum blanditiis quo voluptates eius veniam quaerat, itaque natus et sint dignissimos. Fugit accusamus quaerat veniam, dolor adipisci!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed architecto, laboriosam illum blanditiis quo voluptates eius veniam quaerat, itaque natus et sint dignissimos. Fugit accusamus quaerat veniam, dolor adipisci!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed architecto, laboriosam illum blanditiis quo voluptates eius veniam quaerat, itaque natus et sint dignissimos. Fugit accusamus quaerat veniam, dolor adipisci!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed architecto, laboriosam illum blanditiis quo voluptates eius veniam quaerat, itaque natus et sint dignissimos. Fugit accusamus quaerat veniam, dolor adipisci!</p>
	</div>
</section>


{% endblock %}
