<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>No Miracle Here | The Texas Tribune</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) /styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <link href="/css/ie.css" rel="stylesheet">
  <![endif]-->
  <!-- Facebook Stuff -->
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:title" content="No Miracle Here">
  <meta property="og:description" content="If there is a Texas Miracle, it’s hard to see it from where María Ayala is sitting. Read about how María and five other Texans are being bypassed the Texas Miracle.">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">
  <!-- Apple stuff -->
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPhone_Icon_60x60.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPad_Icon_76x76.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPhone_Icon_120x120.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPad_Icon_152x152.png"/>

</head>
<body>

<header class="masthead">
  <div class="container">
    <div class="branding">
      <a href="//www.texastribune.org/"><img class="trib-logo" alt="The Texas Tribune" src="/images/tt-logo-white.png"></a>
  </div>
</header>
<div class="banner-border">
  <div class="banner">
    <div class="grand-header-image"></div>
    <header class="grand-header">
    </header>
  </div>
</div>

<div class="story-container content-wrapper">
{% block content %}{% endblock %}
</div>

<footer class="tribune-footer">
<div class="container">
  <nav class="first-nav">
    <ul>
      <li>&copy; 2014 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
    </ul>
  </nav>
  <nav class="last-nav">
    <ul>
      <li><a href="http://www.texastribune.org/about/">About Us</a></li>
      <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
      <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
      <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
      <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
      <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
      <li class="donor-item"><a href="https://www.texastribune.org/join/">Donate</a></li>
    </ul>
  </nav>
</div>
</footer>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(c,o,r,g,i,s){c.GoogleAnalyticsObject=g;c[g]||(c[g]=
  function(){(c[g].q=c[g].q||[]).push(arguments)});c[g].g=+new Date;
  i=o.createElement(r);s=o.getElementsByTagName(r)[0];
  i.src='//www.google-analytics.com/analytics.js';
  s.parentNode.insertBefore(i,s)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="/javascript/modernizr.js"></script>
<!-- endbuild -->

</body>
</html>
